.counter-app {
  display: flex;
  font-size: small;
  height: 20;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: none !important;
  border:solid;
  border-color: cadetblue;
  border-radius: 0%;
  border-width: 100%;
  margin: 10px;
  padding: 5px;
  gap: 10px;
}

.counter-app > button {
  background-color: bisque;
  color: #282c34;
}

.counter-app > button:hover {
  background-color: #282c34;
  color: #61dafb;
}

.counter-app > button:active {
  background-color: #282c34;
  color: #61dafb;
}

.counter-app > button:focus {
  background-color: #282c34;
  color: #61dafb;
}

.counter-app > button:disabled {
  background-color: #282c34;
  color: #61dafb;
}

.counter-app > button:disabled:hover {
  background-color: #282c34;
  color: #61dafb;
}

.counter-app > button:disabled:active {
  background-color: #282c34;
  color: #61dafb;
}  
