.total-item{
  position: absolute;
  top: 0;
  right: 0;
  background-color: red;
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
  }

  /* mobile responsive */
  @media only screen and (max-width: 1000px) {
    .item-box {
      flex-direction: column;
      margin-top: 80px;
      margin-right: 50px;
    }
  }