.item-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: none;
  border: solid 0.2px black;
  margin-top: 30px;
  padding: 5px;
  gap: 10px;
  width: 100%;
  height: 80%;
}

.size {
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 5px;
  gap: 10px;
}
.item-desc {
  color: black;
  font-weight: bold;
  text-align: center;
  border: solid 0.2px black;
  width: 100%;
  border-radius: 15px;
  background-color: aquamarine;
}

.item-img {
    width: 150px;
    height: 250px;
    border-radius: 10px;
}
