.App {
  text-align: center;
  gap: 20px;
  padding: 20px;
}

.container {
  align-items: center;
  padding: 20px;
}


.body-page {
  background-image: url("/public/img/commerce-px-shopping-cart.jpg");
  color: #282c34;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.App-header {
  background-color: #282c34;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: none;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
