.App {
  text-align: center;
}

.navbar-brand {
  color: none;
  background-color: none;
  justify-content: right;
  align-content: center;
  width: 10%;
  border-radius: 100px;
  list-style: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
