
body {
  background-image: url("/public/img/commerce-px-shopping-cart.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  flex-wrap: wrap;
}
