.list {
  width: 100%;
}

.prod {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: transparent;
  justify-content: space-around;
  gap: 10px;
  padding: 5px;
  width: min-content;
  border-radius: 15px;
  width: 100%;
}
