
.img-bt{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  
}
.box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: transparent;
  border: solid 0.2px black;
  margin-top: 50px;
  padding: 5px; 
  gap: 10px;
  width: 100%;
}

@media only screen and (max-width: 1000px){
 .box{
  margin-top: 80px;
  flex-direction: column;
 }
}


.detail-sku {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  gap: 10px;
  width: 80%;
  font-size: 15px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
.items {
  align-items: center;
  background-color: transparent;
  font-stretch: condensed;
  border-radius: 5px;
  border: 1px solid black;
  margin: 10px;
  width: 100%;
}

.box2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 30%;
  border-radius: 5px;
  border: 1px solid black;
  gap: 10px;
  border-radius: 5px;
  margin: 10px;
}

@media only screen and (max-width: 500px){
  .box2 {
    flex-wrap: nowrap;
   flex-direction: column;
 }
 }

.img-sku {
  width: 200px;
  height: 200px;
}

.desc-sku {
  display: flex;
}

.precio-sku{
  display:flex;
  justify-content: center; 
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 50%;
  margin-top: 15px;
}



.counter-detail {
  color: black;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}
